<div class="container">
  <div class="card">
    <img src="https://github.com/manthanank/angular-toggle-button-like-dislike/blob/master/src/car.jpg" class="card-img-top" alt="car" />
    <div class="card-body">
      <h5 class="card-title">Car</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <button
        (click)="toggleButton()"
        [ngClass]="{ blue: toggle, red: !toggle }"
      >
        {{ status }}
      </button>
      {{ data }}
    </div>
  </div>
</div>
